{% extends 'base.html.twig' %}

{% block title %}Hello UsersController!{% endblock %}
{% block body %}
<div class="container mt-5">
    <div class="row">
        {% for user in users %}
            <div class="card" style="width: 18rem;">
            <img src="{{ user.imgProfile }}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <p class="card-text">{{ user.name }}</p>
                    <p class="card-text">{{ user.username }}</p>
                    <p class="card-text">{{ user.mail }}</p>
                    <a href="{{ path('user_create',{ id:user.id }) }}" class="btn btn-success">Update</a>
                    <a href="{{ path('user_id',{ id:user.id }) }}" class="btn btn-info">Infos</a>
                    <a href="{{ path('user_delete',{ id:user.id }) }}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
